<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            background-image: url('https://iili.io/2TBvAQ.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        p.ex1 {
            padding-left: 100px;
        }

        p.ex2 {
            padding-left: 100px;
        }
    </style>
    <title>Meetup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Meetup</a>
            </div>
            <ul class="nav navbar-nav" sec:authorize="isAnonymous()">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#" th:href="@{/personal-calendar}" th:inline="text">Personal Calendar</a></li>
                <li><a href="#">Friend's Plans</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                <li><a href="#" th:href="@{/registration}" th:inline="text"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                <li><a href="#" th:href="@{/login}" th:inline="text"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li><a href="#" th:href="@{/profile}" th:inline="text"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                <li><a href="#" th:href="@{/logout}" th:inline="text"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
    </br>
    </br>
    </br>

    <div class="container-fluid">
        <p class="ex1" style="font-size:30px">Welcome!</p>
        <p class="ex2" style="font-size:25px">Schedule a meeting with your friends using Meetup.</p>
    </div>
</div>
</body>
</html>


